<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:name=".ServiceApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PastoralDog">



        <service
            android:name=".services.MyIntentService"
            android:exported="false" />
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO" />

        <service
            android:name=".servicetest.LogSenderService"
            android:exported="false"/>
        <service
            android:name=".servicetest.ClassicService"
            android:exported="false"/>
        <service
            android:name=".servicetest.BasicBinderService"
            android:exported="false"/>
        <service
            android:name=".servicetest.MessageBinderService"
            android:exported="false"/>
        <service
            android:name=".servicetest.RemoteServices"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PastoralDog.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Activities -->
        <activity
            android:name=".servicetest.BinderServiceActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".servicetest.MessageBinderActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".servicetest.RemoteControlAIDLActivity"
            android:label="@string/app_name" />

    </application>

</manifest>