<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zmx.androidlib">

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:resizeableActivity="true"
            android:theme="@style/Theme.MyFullScreen.NoActionBar"
            tools:targetApi="24" />
    </application>

</manifest>